{% load staticfiles %}

<html>
    <head>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link href="//fonts.googleapis.com/css?family=Lobster&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="{% static 'css/monosaur.css' %}">
      <title>Monosaur</title>
    </head>

    <body>

      <div class="container">
        <div class="jumbotron">
          <h1>Monosaur</h1>
          <p>We make subscriptions fucking easy to manage!</p>
        </div>
      </div>

      {% block content %}
      {% endblock %}

    </body>
</html>
