{% load staticfiles %}

<html>
<head>
<title>Companies</title>
<meta charset="utf-8">
<link rel="stylesheet"
	href="//fonts.googleapis.com/css?family=Lobster&amp;subset=latin,latin-ext"
	type="text/css">
<link rel="stylesheet" href="{% static 'css/monosaur.css' %}"
	type="text/css">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"
	type="text/css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>

<body style="padding-top: 70px">
	<nav style="background-color: #f5f5f5;"
		class="navbar navbar-default navbar-fixed-top">
		<div>
			<a class="navbar-brand" href="#">Manage Companies</a>
		</div>
	</nav>
	
	{% if success_message %}
	<div class="container">
		<div class="alert alert-success alert-dismissable">
			<button class="close" data-dismiss="alert" aria-label="close">
				<span aria-hidden="true">&times;</span>
			</button>
			<strong>Success!</strong> {{ success_message|safe }}
		</div>
	</div>
	{% endif %}
	
	<form action="/admin/companies/" method="post"
		style="padding-left: 20px; padding-right: 20px;">
		{% csrf_token %} 
		
		{{ formset.management_form }}
		{% if formset.non_form_errors %}
		<div class="container">
			<div class="alert alert-danger alert-dismissable">
				<button class="close" data-dismiss="alert" aria-label="close">
					<span aria-hidden="true">&times;</span>
				</button>
				<strong>Error!</strong> {{ formset.non_form_errors|safe }}
			</div>
		</div>
		{% endif %} 
		<table class="table">
		{% for form in formset.extra_forms %}
			{% include "monosaur/fixture_company_table_row.html" with form=form %}  
		{% endfor %}
		{% for form in formset.initial_forms %}
			{% include "monosaur/fixture_company_table_row.html" with form=form %}  
		{% endfor %}
		</table>
		
		<div style="position: fixed; top: .085in; right: 50; z-index: 2000;">
			<input class="btn btn-primary custom-width" type="submit"
				value="Save & Migrate" name="save_migrate">
			<input class="btn btn-primary custom-width" type="submit"
				value="Save & Continue" name="save_continue">
		</div>
	</form>
</body>
</html>
