{% load staticfiles %}

<html>
<head>
<title>Subscriptions</title>
<meta charset="utf-8">
<link rel="stylesheet"
	href="//fonts.googleapis.com/css?family=Lobster&amp;subset=latin,latin-ext"
	type="text/css">
<link rel="stylesheet" href="{% static 'css/monosaur.css' %}"
	type="text/css">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"
	type="text/css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>

<body style="padding-top: 70px">
	<nav style="background-color: #f5f5f5;"
		class="navbar navbar-default navbar-fixed-top">
		<div>
			<a class="navbar-brand" href="#">Manage Subscriptions</a>
		</div>
	</nav>
	
	{% if success_message %}
	<div class="container">
		<div class="alert alert-success alert-dismissable">
			<button class="close" data-dismiss="alert" aria-label="close">
				<span aria-hidden="true">&times;</span>
			</button>
			<strong>Success!</strong> {{ success_message|safe }}
		</div>
	</div>
	{% endif %}
	
	<form action="/admin/subscription/" method="post"
		style="padding-left: 20px; padding-right: 20px;">
		{% csrf_token %} 
		
		{% if formset %}
			{{ formset.management_form }}
			{% if formset.non_form_errors %}
			<div class="container">
				<div class="alert alert-danger alert-dismissable">
					<button class="close" data-dismiss="alert" aria-label="close">
						<span aria-hidden="true">&times;</span>
					</button>
					<strong>Error!</strong> {{ formset.non_form_errors|safe }}
				</div>
			</div>
			{% endif %} 
			<table class="table">
			{% for form in formset.extra_forms %}
				{% include "monosaur/table_row.html" with form=form table='subscription' print_header=True %}  
			{% endfor %}
			{% for form in formset.initial_forms %}
				{% include "monosaur/table_row.html" with form=form table='subscription' %}  
			{% endfor %}
			</table>
		{% endif %}
		
		<div style="position: fixed; top: .085in; right: 50; z-index: 2000;">
			<input class="btn btn-primary custom-width" type="submit" value="Save & Continue">
		</div>
	</form>
</body>
</html>
