{% if forloop.first and print_header %}
<thead>
	<tr>
		<th>pk</th>
		{% for field in form.visible_fields %}
		<th>{{ field.label|capfirst }}</th> 
		{% endfor %}
		<th></th>
	</tr>
</thead>
{% endif %} 
<tr>
	<td>
		{# Include the hidden fields in the form #}
		{% for hidden in form.hidden_fields %}
			{{ hidden }}
		{% endfor %}
		{{ form.instance.id }}
	</td>
	{% for field in form.visible_fields %}
	<td>
	{{ field.errors.as_ul }}
	{{ field }}
	</td>
	{% endfor %}
	<td>
		{% block content %} 
		{% endblock %}
	</td>
</tr>