{% if formset %}
	{{ formset.management_form }}
	{% if formset.non_form_errors %}
	<div class="container">
		<div class="alert alert-danger alert-dismissable">
			<button class="close" data-dismiss="alert" aria-label="close">
				<span aria-hidden="true">&times;</span>
			</button>
			<strong>Error!</strong> {{ formset.non_form_errors|safe }}
		</div>
	</div>
	{% endif %} 
	<table class="table">
	{% for form in formset.extra_forms %}
		{% include row_html with form=form print_header=True %}
	{% endfor %}
	{% for form in formset.initial_forms %}
		{% include row_html with form=form %}  
	{% endfor %}
	</table>
{% endif %}
