{% if forloop.first and print_header %}
<thead>
	<tr>
		<th>pk</th>
		{% for field in form.visible_fields %}
		<th>{{ field.label|capfirst }}</th>
		{% endfor %}
		<th></th>
		<th></th>
	</tr>
</thead>
{% endif %}
<tr>
	<td>
		{# Include the hidden fields in the form #}
		{% for hidden in form.hidden_fields %}
			{{ hidden }}
		{% endfor %}
		{{ form.instance.id }}
	</td>
	{% for field in form.visible_fields %}
	<td>
	{% if field.errors %}
	<div class="alert alert-danger alert-dismissable">
		<button class="close" data-dismiss="alert" aria-label="close" title="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<strong>Error!</strong> {{ field.errors|safe }}
	</div>
	{% endif %}
	{{ field }}
	</td>
	{% endfor %}
	<td>
		{% block content %}
		{% endblock %}
	</td>
</tr>
