{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'favicon.ico' %}">

    <title>Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'assets/css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'jumbotron.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static 'assets/js/ie-emulation-modes-warning.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Spend Analyser</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Clueless about where your £ goes?</h1>
        <p>We built something really cool that tells you what your biggest areas of spend are, and what stuff you are subscribed to.</p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-8">
          <h2>Spend Analyser tool</h2>
          <p>To help us understand where your money is going, you will need to upload your latest <b><a href="#" data-toggle="tooltip" data-placement="top" title="You can usually obtain this in OFX, QIF or CSV format from your internet banking website">bank transaction data</a></b> into our system using the uploader on the right. Our system will look at your data and figure out where your money is going, and what subscriptions you currently have.</p>
          <p>We treat your privacy very, very seriously, and none of your confidential data is ever stored on our servers.</p>
        </div>
        <div class="col-md-4">
          <h2>File upload</h2>
          <form>
            <div class="form-group">
              <input type="file" id="exampleInputFile">
            </div>
          </form>
          <p><a class="btn btn-default" href="#" role="button">Analyse my spend!</a></p>
        </div>
      </div>
    </div>

    <hr>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Your spend breakdown</h2>
          <br>
          <br>
          <canvas id="myChart"></canvas>
          <script>
          var ctx = document.getElementById("myChart");
          var myChart = new Chart(ctx, {
              type: 'bar',
              data: {
                  labels: ["Food & Drink", "Public Transport", "Retail (Other)", "Entertainment & Leisure", "Other"],
                  datasets: [{
                      label: 'Average monthly spend',
                      data: [600, 400, 350, 300, 100, 100],
                      backgroundColor: [
                          'rgba(255, 99, 132, 0.2)',
                          'rgba(54, 162, 235, 0.2)',
                          'rgba(255, 206, 86, 0.2)',
                          'rgba(75, 192, 192, 0.2)',
                          'rgba(153, 102, 255, 0.2)',
                      ],
                      borderColor: [
                          'rgba(255,99,132,1)',
                          'rgba(54, 162, 235, 1)',
                          'rgba(255, 206, 86, 1)',
                          'rgba(75, 192, 192, 1)',
                          'rgba(153, 102, 255, 1)',
                      ],
                      borderWidth: 1
                  }]
              },
              options: {
                  scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero:true
                          }
                      }]
                  }
              }
          });
          </script>
        </div>

        <div class="col-md-1">

        </div>

        <div class="=col-md-5 table-responsive">
          <h2>Your subscriptions</h2>
          <br>
          <br>
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="col-md-1">#</th>
                <th class="col-md-6">Subscription</th>
                <th class="col-md-5">Price per month</th>
              </tr>
            </thead>
            <tbody>
              <tr href="#" data-toggle="tooltip" title="Watch movies and TV shows whenever you want and as often as you want.">
                <td>1</td>
                <td><a href="https://www.netflix.com/" target="_blank">Netflix</a></td>
                <td>£7.49</td>
              </tr>

              <tr href="#" data-toggle="tooltip" title="Listen to music whenever you want and as often as you want.">
                <td>2</td>
                <td><a href="https://www.spotify.com/" target="_blank">Spotify premium</a></td>
                <td>£9.99</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>

    <hr>

    <div class="container">
      <footer>
        <p>&copy; 2016 Monosaur, Inc.</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static 'dist/js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'assets/js/ie10-viewport-bug-workaround.js' %}"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
    </script>

  </body>
</html>
