{% extends "monosaur/base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
		{% if user.is_authenticated %}
		</p>
			<div class="well">
    			<p>Welcome {{ user.username }}
    			<a href="/analyse/cleanup" class="btn btn-success custom-width">Clean database</a></p>
    		</div>
		{% endif %}
        <h1>Transaction file upload</h1>
        
        {% if good_files_message %}
        	<div class="alert alert-success alert-dismissable fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
				<strong>Success!</strong> {{ good_files_message|safe }}
			</div>
        {% endif %}
        
        {% if bad_files_message %}
        	<div class="alert alert-danger alert-dismissable fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
				<strong>Error!</strong> {{ bad_files_message|safe }}
			</div>
        {% endif %}
        
		<form action="/analyse/" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="row">
				<div class="form-group col-md-12">
					<input type="file" name="file" multiple="multiple"
						class="form-control input-sm">
				</div>
			</div>
			<div class="row">
				<div class="form-actions col-md-12">
					<input type="submit" value="Upload" class="btn btn-primary btn-sm">
				</div>
			</div>
		</form>

        {% if chart_values %}
        <hr>

        <h1>Personal finance analytics</h1>

        <canvas id="analytics_barchart"></canvas>
          <script>
          var ctx = document.getElementById("analytics_barchart");
          var myChart = new Chart(ctx, {
              type: 'bar',
              data: {
                  labels: {{ chart_labels|safe }},
                  datasets: [{
                      label: 'Average monthly spend',
                      data: {{ chart_values }},
                      backgroundColor: [
                          'rgba(255, 99, 132, 0.2)',
                          'rgba(54, 162, 235, 0.2)',
                          'rgba(255, 206, 86, 0.2)',
                          'rgba(75, 192, 192, 0.2)',
                          'rgba(153, 102, 255, 0.2)',
                      ],
                      borderColor: [
                          'rgba(255,99,132,1)',
                          'rgba(54, 162, 235, 1)',
                          'rgba(255, 206, 86, 1)',
                          'rgba(75, 192, 192, 1)',
                          'rgba(153, 102, 255, 1)',
                      ],
                      borderWidth: 1
                  }]
              },
              options: {
                  scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero:true
                          }
                      }]
                  }
              }
          });
          </script>

        {% endif %}

        <hr>

		<h1>My Subscriptions</h1>

		<table class="table">
            <tr>
           		<th>#</th>
           		<th>Name</th>
           		<th>Company</th>
           		<th>Category</th>
           		<th>Description</th>
	       		<th>per Months</th>
           	</tr>

           	{% for subscription in subscriptions %}
           		<tr>
	           		<td>{{ forloop.counter }}</td>
           			<td><a href="{{ subscription.subscription_url }}">{{ subscription.subscription__name }}</a></td>
           			<td>{{ subscription.subscription__company__name }}</td>
           			<td>{{ subscription.subscription__company__category__name }}</td>
           			<td>{{ subscription.subscription__description }}</td>
           			<td>&pound;{{ subscription.subscription__monthly_price|floatformat:2 }} per month</td>
           		</tr>
           	{% endfor %}
		</table>

        <h1>My Transactions</h1>

        {% if chart_values == None %}
        <div class="alert alert-warning">
          <strong>Data-less Donkey!</strong> You have no transaction data at the moment. Fancy uploading some above?
        </div>
        {% endif %}

          <!-- display list of transactions here -->

          <table class="table">
            <tr>
              <th>#</th>
              <th>Date</th>
              <th>Transaction</th>
              <th>Type</th>
              <th>Subscription</th>
              <th>Amount</th>
            </tr>

            {% for transaction in transactions %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ transaction.date }}</td>
              <td>{{ transaction.name }}</td>
              <td>{{ transaction.category }}</td>
              <td>{{ transaction.subscription }}</td>
              <td>{{ transaction.amount|floatformat:2 }}</td>
            </tr>
            {% endfor %}

          </table>
      </div>
    </div>
  </div>
{% endblock %}
