{% extends "monosaur/base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <!-- display list of subscriptions in DB here -->

        {% for subscription in subscriptions %}
          <h2><a href="{{ subscription.subscription_url }}">{{ subscription.subscription_name }}</a></h2>
          <b>{{ subscription.company_name }}</b>
          <p>{{ subscription.description }}</p>
          <p>£{{ subscription.monthly_price }} per month</p>
          <hr>
        {% endfor %}

      </div>
    </div>
  </div>
{% endblock %}
